spring:
  application:
    name: analytics-service
  datasource:
    url: jdbc:postgresql://postgres:5432/cinehub_analytics
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8091

logging:
  level:
    com.cinehub.analytics: DEBUG
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
